name: lint
on: pull_request
jobs:
  lint-docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: hadolint
        uses: reviewdog/action-hadolint@v1.50.2
        with:
          reporter: github-pr-review
